html {
    height: 100%;
    width: 100%;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background-color: black;
  }
  
  .img {
    width: 100px;
    height: auto;
  }
  
  .compartiment {
    color: black;
    width: 45%;
    padding: 20px 10px 20px 10px;
    border-radius: 25%;
    border: 1px yellow solid;
    margin-left: auto;
    margin-right: auto;
  }
  
  .Python {
    border: 1px black solid;
    border-radius: 25%;
    padding: 20px 10px 20px 10px;
    background-image: url('Ressources/PYTHONlogo.png');
    background-size: 100%;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .JavaScript {
    border: 1px black solid;
    border-radius: 25%;
    padding: 20px 10px 20px 10px;
    background-image: url('Ressources/OIP.jpeg');
    background-size: 100%;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .HTML {
    border: 1px black solid;
    border-radius: 25%;
    padding: 20px 10px 20px 10px;
    background-image: url('Ressources/HTMLlogo.png');
    background-size: 100%;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .CSS {
    border: 1px black solid;
    border-radius: 25%;
    padding: 20px 10px 20px 10px;
    background-image: url('Ressources/CSSlogo.png');
    background-size: 100%;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .parent {
    border: 3px white solid;
    display: flex;
  
  }
  
  .enfant {
    margin: 60px;
    width: 100%;
  }
