@media screen and (min-width: 320px) {
    #menuButton {
        margin-top: 70%;
        margin-left: 480%;
    }
}
@media screen and (min-width: 350px) {
    #menuButton {
        margin-top: 70%;
        margin-left: 530%;
    }
    #menu{
        padding-top: 45%;
    }
}
@media screen and (min-width: 375px) {
    #menuButton {
        margin-left: 650%;
    }
    #menu{
        padding-top: 40%;
    }
}
@media screen and (min-width: 380px) {
    #menuButton {
        margin-left: 660%;
    }
    #menu{
        padding-top: 40%;
    }
}
@media screen and (min-width: 400px) {
    #menuButton {
        margin-top: 30%;
        margin-left: 450%;
        height: 50px;
        width: 50px;
    }
}
@media screen and (min-width: 425px) {
    #menuButton {
        margin-top: 35%;
        margin-left: 480%;
    }
    #menu{
        padding-top: 35%;
    }
}
@media screen and (min-width: 450px) {
    #menuButton {
        margin-left: 540%;
    }
    #menu{
        padding-top:34%;
    }
}
@media screen and (min-width: 475px) {
    #menuButton {
        margin-left: 590%;
    }
    #menu{
        padding-top: 33%;
    }
}
@media screen and (min-width: 500px) {
    #menuButton {
        margin-left: 640%;
    }
    #menu{
        padding-top: 31%;
    }
}
@media screen and (min-width: 525px) {
    #menuButton {
        margin-left: 690%;
    }
    #menu{
        padding-top: 29%;
    }
}
@media screen and (min-width: 550px) {
    #menuButton {
        margin-left: 740%;
    }
}
@media screen and (min-width: 575px) {
    #menuButton {
        margin-left: 790%;
    }
}
@media screen and (min-width: 600px) {
    #menuButton {
        display: none;
    }
    #menu-computer {
        display: block;
    }
}
@media screen and (min-width: 625px) {
    .head .img .logo{
        height: 100px;
        width: 100px;
    }
    #menu-computer {
        top: 2%;
        right: 5%;
    }
    .center .img2 .imgbird{
        height: 330px;
    }
    .center .text p {
        font-size: 20px;
    }
}
@media screen and (min-width: 768px) {
    .head .img .logo{
        height: 100px;
        width: 100px;
    }
    #menu-computer {
        top: 2%;
        right: 5%;
    }
    .center .img2{
        margin-bottom: 10%;
    }
    .center .img2 .imgbird{
        height: 330px;
    }
    .center .text p {
        font-size: 20px;
    }
}
@media screen and (min-width: 896px) {
    #menu-computer {
        position: absolute;
        top: 3%;
        right: 2%;
    }
    .center .img2 .imgbird{
        height: 460px;
    }
    .center .text p {
        font-size: 20px;
    }
}
@media screen and (min-width: 1024px) {
    #menu-computer {
        position: absolute;
        top: 5%;
        right: 7%;
    }
    #menu-computer ul li {
        padding: 25px;
    }
    #menu-computer ul li a {
        padding: 25px;
    }
    .head .img .logo{
        height: 200px;
        width: 200px;
    }
    h1 {
        font-size: 65px;
    }
    .center{
        width: 100%;
        display: inline-flex;
    }
    .center .img2{
        margin-left: 2%;
        width: 55%;
        height: 40%;
    }
    .center .text {
        width: 40%;
        margin-right: 2%;
        margin-top: 10%;
        font-size: 20px;
    }
    .center .text p{
        height: 70%;
    }
}
@media screen and (min-width: 1024px) {
    .center{
        border: 1px solid;
        border-radius: 25px;
        background-image: -webkit-radial-gradient( rgb(186, 236, 186), rgb(251, 255, 0), #a52e0a);
    }
    h1{
        border: 1px solid black;
        border-radius: 25px;
        padding: 20px;
        background-image: -webkit-radial-gradient( rgb(186, 236, 186), rgb(251, 255, 0), #a52e0a);
    }
    .head{
        border: 1px solid;
        border-radius: 25px;
        padding: 20px;
        background-image: -webkit-radial-gradient( rgb(186, 236, 186), rgb(251, 255, 0), #a52e0a);

    }
    .logo{
        background-color: blanchedalmond;
    }
    .center .text p{
        padding: 100px;
        height: 40%;
    }
}
@media screen and (min-width: 2560px) {
    #menu-computer {
        position: absolute;
        top: 1%;
        right: 0%;
    }
    #menu-computer ul li {
        padding: 150px;
    }
    #menu-computer ul li a {
        font-size: 25px;
        font-weight: 600;
        padding: 75px;
    }
    .head .img .logo{
        height: 300px;
        width: 300px;
    }
    h1{
        font-size: 120px;
        padding: 40px;
    }
    .center{
        padding: 40px;
    }
    .center .img2{
        width: 50%;
        height: 700px;
    }
    .head{
        padding: 40px;
    }
    .logo{
        background-color: blanchedalmond;
    }
    .center .text {
        margin-right: 4%;
        margin-top: 5%;
    }
    .center .text p{
        padding: 250px;
        font-size: 35px;
        height: 40%;
    }
}
